@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-primary {
    color: #3062f9;
  }
  .bg-primary {
    color: #3062f9;
  }
}
.main_container {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  min-height: 100vh;
}
.drp_shadow {
  box-shadow: 0px 4px 15px 0px #0000001a;
}

.button_box_border {
  border: 1px solid #ffdce0;
}

p {
  font-size: 14px; /* Smaller font size for tablets */
}

/* Media query for extra-large devices (min width 1440px) */
@media screen and (min-width: 1440px) {
  p {
    font-size: 16px; /* Even larger font size for very large screens */
  }
}
h3 {
  font-size: 14px;
}
/* Media query for extra-large devices (min width 1440px) */
@media screen and (min-width: 1440px) {
  h3 {
    font-size: 18px; /* Even larger font size for very large screens */
  }
}
