@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-primary {
    color: #3062f9;
  }
  .bg-primary {
    color: #3062f9;
  }
}
.main_container {
  max-width: 84.9375rem;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  min-height: 100vh;
}
p {
  font-size: 12px;
}
